*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    list-style-type: none;
    border: none;
    font-family: "Jost", sans-serif;
    text-decoration: none !important;
}
body{
    background-color:#ffffff;
    color: #000;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 26px 12%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: transparent;
    transition: all .5s ease;
    background-color:hsla(0, 0%, 100%, 0.706);
}
.logo{
    width: 100px;
}
.nav-list{
    display: flex;
    margin: 0px;
}
ul li{
    transition: transform.4s;
}
ul li:hover{
    transform: scale(1.2);
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right i{
    font-size: 25px;
    color: #000;
    transition: all .4s ease;
}
.rating i{
    padding: 16px;    
}
#menu-icon{
    font-size: 32px;
    z-index: 10001;
    margin-left: 15px;
    display: none;
}
.nav-list a{
    margin: 0 20px ;
    color: rgb(0, 0, 0);
    transition: transform.4s;
    text-decoration: none;
}
.nav-list a:hover{
    margin: 0 20px ;
    color: #E8AF30;
    transition: transform.4s;
    text-decoration: none;
}
ul li{
    transition: transform.4s;
}
ul li:hover{
    transform: scale(1.2);
    margin-bottom: 0px;
}
.logo{
    transition: transform.4s;
}
.logo:hover{
    transform: scale(1.2);
}
.rating i{
    transition: transform.4s;
    color: #162F65;
}
.rating i:hover{
    transform: scale(1.2);
    color: #E8AF30;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right i{
    font-size: 25px;
    color: #000;
    margin: 0 10px;
    transition: all .4s ease;
    text-decoration: none;
}
#menu-icon{
    font-size: 32px;
    z-index: 10001;
    margin-left: 15px;
    display: none;
    text-decoration: none;
}
header.sticky{
    background-color: #ffffff;
    padding:  25px 12%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
section{
    padding: 70px 12% 80px;
}
.banner{
    width: 100%;
    padding: 100px 0px 80px;
}
.banner-text{
    padding: 30px 0px;
    text-align: center;
    background-color: #162F65;
    margin: 0px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}
.banner-text h1{
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #ffffff;
    white-space: nowrap;
    padding: 0.6rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.itemsspecialpromotions{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.itemsspecialpromotions h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 60px;
}
.text-item{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.itmes-contain h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 60px;
}
.new-product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto) );
    align-items: center;
    gap: 1.7rem;
    margin-top: 5rem;
}
.center-in{
    text-align: center;
}
.center-in h2{
    font-size: 40px;
    margin: 10px 0;
}
.row-img img{
    display: block;
    width: 100%;
}
.row{
    position: relative;
    text-align: center;
}
.row:hover{
    border-style: ridge;
}
.row p{
    margin-top: 20px;
    font-size: 18px;
    color: #6A6865;
    margin-bottom: 10px;
}
.row h5{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.row .r-btn {
    margin-bottom: -20px;
    position: absolute;
    padding: 16px;
    top: 210px;
    width: 100%;
    background: #e8af30;
    transition: opacity 0.5s;
    opacity: 0;
}
.r-btn-star{
    margin-bottom: 20px;
}
.r-btn:hover{
    opacity: 1;
}
.r-btn i{
    padding: 10px;
    font-size: 25px;
    transition: transform.4s;
}

.new-product-content1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto) );
    align-items: center;
    gap: 1.7rem;
    margin-top: 5rem;
}
.row-img img{
    display: block;
    width: 100%;
}
.row{
    position: relative;
    text-align: center;
}
.new-product-content2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto) );
    align-items: center;
    gap: 1.7rem;
    margin-top: 5rem;
}
.row-img img{
    display: block;
    width: 100%;
}
.row{
    position: relative;
    text-align: center;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 2rem;
    background-color: #ffffff;
}
.logo-footer{
    width: 250px;
    padding-top: 50px;
}
.logo-footer:hover{
    transform: scale(1.2);
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 0.8rem;
    transition: all 0.50s ease;
}
.footer-box a{
    color: #3b3b3b;
    font-size: 16px;
    margin-bottom: 0.8rem;
    transition: all 0.50s ease;
}
.footer-box a:hover{
    color: #E8AF30;
    font-weight: bold;
}
.footer-box h3{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px;
}
.footer-box .icons a{
    font-size: 22px;
    display: inline-block;
    margin-right: 12px;
    transition: all 0.6s;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 12% 20px;
    background-color: #162f6511;
}
.end-img{
    color: #3b3b3b;
    font-size: 12px;
    cursor: pointer;
}
.top{
    color: #000;
    font-size: 30px;
}